<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content=" Dự án laptopshop" />
    <meta name="author" content="Hỏi Dân IT" />
    <title>Order-LaptopShop</title>
    <!-- style css -->
    <link href="/admin/css/styles.css" rel="stylesheet" />
    <!-- fontawesome -->
    <script
      src="https://use.fontawesome.com/releases/v6.3.0/js/all.js"
      crossorigin="anonymous"
    ></script>
  </head>

  <body class="sb-nav-fixed" style="overflow: hidden">
    header <%- include('../layout/header'); -%>
    <div id="layoutSidenav">
      <%- include('../layout/navbar'); -%>

      <div id="layoutSidenav_content" style="top: 32px">
        <main class="center">
          <div class="container-fluid px-4">
            <h3 class="mt-4">Manager Order</h3>
            <ol class="breadcrumb mb-4">
              <li class="breadcrumb-item"><a href="dashboard">Dashboard</a></li>
              <li class="breadcrumb-item active">Order</li>
            </ol>
          </div>
          <table
            class="table table-bordered text-center w-75 m-auto text-white"
          >
            <thead style="background-color: #233044">
              <tr>
                <th>ID</th>
                <th>Người dùng</th>
                <th>Tổng Tiền</th>
                <th>Trạng thái</th>
                <th>Hình thức thanh toán</th>
                <th>Trạng thái thanh toán</th>
                <th>Hành động</th>
              </tr>
            </thead>
            <tbody>
              <% orders.forEach( function (order) { %>
              <tr>
                <td><%= order.id %></td>
                <td><%= order?.user?.fullName %></td>
                <td>
                  <%= (order.totalPrice).toLocaleString('vi-VN', {style:
                  'currency', currency: 'VND'}) %>
                </td>
                <td><%= order.status %></td>
                <td><%= order.paymentMethod%></td>
                <td><%=order.statusMethod %></td>
                <td>
                  <div class="d-flex justify-content-center text-center">
                    <form action="/admin/order/<%=order.id%>" method="post">
                      <button type="submit" class="btn btn-danger">
                        <i class="fa-regular fa-eye"></i>
                      </button>
                    </form>
                  </div>
                </td>
              </tr>
              <% }) %>
            </tbody>
          </table>
          <nav aria-label="Page navigation example" class="mt-3">
            <ul class="pagination justify-content-center">
              <li class="page-item">
                <a
                  class="<%=currentPage==1 ? 'disabled page-link' : 'page-link' %>"
                  href="/admin/order?page=<%=currentPage-1%>"
                  >Previous</a
                >
              </li>
              <% for( var i=1; i<=totalOrderPages ;i++) {%>
              <li class="page-item">
                <a
                  class="<%=currentPage == i ?'active page-link' :'page-link' %>"
                  href="/admin/order?page=<%=i%>"
                >
                  <%=i%>
                </a>
              </li>
              <%}%>
              <li class="page-item">
                <a
                  class="<%=currentPage==totalOrderPages ?'disabled page-link' : 'page-link' %>"
                  href="/admin/order?page=<%=currentPage+1%>"
                  >Next</a
                >
              </li>
            </ul>
          </nav>
        </main>
        <!-- footer -->
        <%- include('../layout/footer'); -%>
      </div>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
      crossorigin="anonymous"
    ></script>
    <script src="/admin/js/scripts.js"></script>
  </body>
</html>
