<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content=" Dự án laptopshop" />
    <meta name="author" content="Hỏi Dân IT" />
    <title>USER-LAPTOPSHOP</title>
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel="stylesheet" />
     <!-- style css -->
    <link href="/admin/css/styles.css" rel="stylesheet" />
    <!-- fontawesome -->
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script>
      // Preview Image jquery
      $(document).ready(() => {
       const avatarFile = $("#avatarFile"); // nên đồng bộ với id của input
       const avatarPreview = $("#avatarPreview");

       avatarFile.on("change", function (e) {
      const file = e.target.files[0];

      if (file) {
        const imgURL = URL.createObjectURL(file);
        avatarPreview.attr("src", imgURL);
        avatarPreview.css("display", "block");
      } else {
        // Không có file được chọn (nếu user huỷ)
        avatarPreview.attr("src", "/images/user/default-avatar.png");
      }
    });
  });
  </script>
<!-- </head> --> 

<body class="sb-nav-fixed">
header
 <%- include('../layout/header'); -%>
    <div id="layoutSidenav">
     
 <%- include('../layout/navbar'); -%>

        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid px-4">
                    <h1 class="mt-4">Manager User</h1>
                    <ol class="breadcrumb mb-4">
                        <li class="breadcrumb-item "><a href="/admin">Dashboard</a></li>
                        <li class="breadcrumb-item active">view-user</li>
                    </ol>    
                </div>
                <div style="width: 600px; margin: auto">
                  <h3>Display view-user </h3>
                  <form action="/admin/handle-update-user/<%=user.id%>"method="post" enctype="multipart/form-data">
                      <input name="id" value="<%= user.id %>" type="text" style="display: none;" >
                      <div class="mb-3">
                         <!-- Tên -->
                          <label  class="form-label">Name</label>
                          <input name="fullName"  class="form-control"  placeholder="your name" value="<%= user.fullName %>">
                        </div>
                        <!-- Email -->
                        <div class="mb-3">
                          <label  class="form-label">Email </label>
                          <input disabled name="username" type="email" class="form-control"  placeholder="name@example.com" value="<%= user.username %>">
                        </div>

                        <div>
                           <!-- Điện thoại -->
                          <div class="d-flex justify-content-between">
                            <div class="col-md-6">
                              <label  class="form-label">Phone</label>
                              <input type="text" name="phone" class="form-control"  value="<%= user.phone %>">
                            </div>
                              <!-- Role (QUAN TRỌNG: name="role") -->
                            <div class="col-md-4">
                              <label for="inputState" class="form-label">Role</label>
                              <select name="role"  id="inputState" class="form-select">
                                <% roles.forEach(role => { %>
                                  <option value="<%= role.id %>" 
                                    <%= role.id === user.roleId ? 'selected' : '' %>> 
                                    <%= role.name %>
                                  </option>
                                <% }) %>
                              </select>
                            </div>
                          </div>                                       
                        </div>
                          <!-- Upload avatar -->
                        <div class="my-3">
                          <label for="formFile" >UploadFile</label>
                          <input   name="avatar" class="form-control" type="file" id="avatarFile" accept=".png, .jpg, .jpeg">
                        </div>
                         <!-- Hiển thị avatar hiện tại (Quan trọng :id="avatarPreview"-->
                         <% if (user.avatar) { %>
                          <img id="avatarPreview" 
                               src="/images/user/<%= user.avatar %>" 
                               alt="avatar" 
                               style="max-height:200px; display: block;">
                        <% } else { %>
                          <img id="avatarPreview" 
                               src="/images/user/default-avatar.png" 
                               alt="No Avatar" 
                               style="max-height:200px; display: none;">
                        <% } %>
                        
                          <!-- Địa chỉ -->
                        <div class="my-3">
                          <label  class="form-label">address</label>
                          <textarea  name="address" class="form-control"  rows="3"><%=user.address %></textarea>
                        </div>
                        <div class="mb-3">
                          <button type="submit" class="btn btn-danger">Update</button>
                        </div>
                  </form>
                  
              </div>
            </main>
            
           <!-- footer -->
          <%- include('../layout/footer'); -%> 

         </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>
    <script src="/admin/js/scripts.js"></script>
   

</html> 